.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.user-card td {
    vertical-align: top;
}

.user-card button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.user-card button:hover {
    background-color: #d32f2f;
}
select#sort {
    background-color: #ffffff; /* Зеленый цвет */
}
select#sort:focus {
    outline: 2px solid #005500; /* Зеленая обводка при выделении */
}

