.user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #dcdcdc;
}

.user-table th, .user-table td {
    border: 2px solid #000000;
    padding: 8px;
}


.user-table th {
    background-color: #606060;
    color: white;
    text-align: left;
}

.user-card td {
    vertical-align: top;
    background-color: #ffffff;
}

.user-card button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.user-card button:hover {
    background-color: #d32f2f;
}

select#sort {
    background-color: #ffffff;
}

select#sort:focus {
    outline: 2px solid #005500;
}

.favorite-articles-list {
    list-style-type: none;
    padding: 0;
}

.favorite-articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.favorite-article-item {
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.favorite-article-item a {
    text-decoration: none;
    color: #333;
}

.favorite-article-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.found-user {
    border: 2px solid green;
}


